@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
@import 'tailwindcss';

@layer base {
  html {
    font-family: 'Fira Code', monospace;
    background-color: black;
  }

  .interactive-bg {
  background: radial-gradient(600px circle at var(--x) var(--y), rgba(255, 255, 255, 0.05), transparent 40%);
}
}